<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h2>Welcome to your dashboard!</h2>

    {% if role_id == 1 %}
        <p>You are logged in as <strong>Admin</strong></p>
    {% elif role_id == 2 %}
        <p>You are logged in as <strong>Project Manager</strong></p>
    {% else %}
        <p>You are logged in as <strong>Team Member</strong></p>
    {% endif %}

    <h3>Projects</h3>
    <ul>
        {% for project in projects %}
            <li>
                <a href="{{ url_for('view_project', project_id=project[0]) }}">
                    {{ project[1] }} ({{ project[2] if role_id != 3 else '' }})
                </a>
            </li>
        {% endfor %}
    </ul>
    <p> {{user}} </p>

    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
